//
//  ProjectCommon.xcconfig
//  SwiftStyle
//
//  Created by Zhu Shengqi on 2018/7/29.
//  Copyright © 2018 Zhu Shengqi. All rights reserved.
//

SDKROOT = macosx

SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos watchos watchsimulator appletvos appletvsimulator

VALID_ARCHS[sdk=macosx*]               = i386 x86_64
VALID_ARCHS[sdk=iphoneos*]             = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*]      = i386 x86_64
VALID_ARCHS[sdk=watchos*]              = armv7k
VALID_ARCHS[sdk=watchsimulator*]       = i386 x86_64
VALID_ARCHS[sdk=appletv*]              = arm64
VALID_ARCHS[sdk=appletvsimulator*]     = i386 x86_64

IPHONEOS_DEPLOYMENT_TARGET = 11.4
MACOSX_DEPLOYMENT_TARGET = 10.13
TVOS_DEPLOYMENT_TARGET = 11.4
WATCHOS_DEPLOYMENT_TARGET = 4.3

// OSX-specific default settings
FRAMEWORK_VERSION[sdk=macosx*]                = A
COMBINE_HIDPI_IMAGES                          = YES

// iOS-specific default settings
TARGETED_DEVICE_FAMILY[sdk=iphonesimulator*]  = 1,2
TARGETED_DEVICE_FAMILY[sdk=iphone*]           = 1,2

// TV-specific default settings
TARGETED_DEVICE_FAMILY[sdk=appletvsimulator*] = 3
TARGETED_DEVICE_FAMILY[sdk=appletv*]          = 3

// Watch-specific default settings
TARGETED_DEVICE_FAMILY[sdk=watchsimulator*]   = 4
TARGETED_DEVICE_FAMILY[sdk=watch*]            = 4
